.app-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 1.5rem 18rem;
    box-sizing: border-box;
  
    background-color: #212528;
    color: #D7D7D7;
    width: 100%;
    height: 100%;
  }